/* Se definen variables */
:root{
    --clr-negro:#1c1c1c;
    --clr-gris: #ececec;
    --clr-tono1-gris: #bdbdbd;
    --clr-blanco:#f7f7f7;
    --clr-amarillo: #f2fa22;
    --clr-tono1-amarillo: #faf5c8;
    --clr-tono2-amarillo: #fad889;
    --clr-naranja: #fbbe9a;
    --clr-cafe: #bda2a2;
    --clr-crema: #fff2ff;
    --clr-crema-oscura:#d3b383;

    --type-normal: #a8a878;
    --type-fuego: #f08030;
    --type-agua: #6890f0;
    --type-planta: #78c850;
    --type-electrico: #f8d030;
    --type-hielo: #98d8d8;
    --type-lucha: #c03028;
    --type-veneno: #a040a0;
    --type-terrestre: #e0c068;
    --type-volador: #a890f0;
    --type-psiquico: #f85888;
    --type-insecto: #a8b820;
    --type-roca: #b8a038;
    --type-fantasma: #805898;
    --type-oscuro: #705848;
    --type-dragon: #8038f8;
    --type-acero: #b8b8d0;
    --type-hada: #f0b6c6;
}

/* Se formatean elementos html */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-negro);
    font-family:'Rubik', sans-serif;
}

ul{
    list-style-type: none;
}

button{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

/* asignacion de color por tipo de pokemon */
.ver-todos{
    background-color: var(--clr-blanco);
}

.Normal{
    background-color: var(--type-normal);
    color: var(--clr-negro);
}

.Fuego{
    background-color: var(--type-fuego);
    color: var(--type-negro);
}

.Agua{
    background-color: var(--type-agua);
    color: var(--clr-blanco);

}

.Hierba{
    background-color: var(--type-planta);
    color: var(--clr-negro);
}
.Electrico{
    background-color: var(--type-electrico);
    color: var(--clr-negro);
}
.Hielo{
    background-color: var(--type-hielo);
    color: var(--clr-negro);
}
.Lucha{
    background-color: var(--type-lucha);
    color: var(--clr-blanco);
}
.Veneno{
    background-color: var(--type-veneno);
    color: var(--clr-blanco);
}
.Terrestre{
    background-color: var(--type-terrestre);
    color: var(--clr-blanco);
}
.Volador{
    background-color: var(--type-volador);
    color: var(--clr-negro);
}
.Psiquico{
    background-color: var(--type-psiquico);
    color: var(--clr-negro);
}
.Insecto{
    background-color: var(--type-insecto);
    color: var(--clr-negro);
}
.Roca{
    background-color: var(--type-roca);
    color: var(--clr-negro);
}
.Fantasma{
    background-color: var(--type-fantasma);
    color: var(--clr-blanco);
}
.Obscuro{
    background-color: var(--type-oscuro);
    color: var(--clr-negro);
}
.Dragon{
    background-color: var(--type-dragon);
    color: var(--clr-blanco);
}
.Acero{
    background-color: var(--type-acero);
    color: var(--clr-negro);
}
.Hada{
    background-color: var(--type-hada);
    color: var(--clr-negro);
}

body{
    min-height: 100vh;
    background-color: var(--clr-tono2-amarillo);
}

header{
    padding-block: 1rem;/*padding top y bottom */     
    box-shadow: 1rem 0.18rem 2rem .2rem black; 
    background-color: var(--clr-tono1-amarillo) ; 
    
}
/* .nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;       
} */

.nav-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem; 
    padding-inline: 2rem;
    max-width: 1200px;
    margin: 0 auto;      
}

.main{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn-header{
    padding: .5rem; /*bordes */
    border-radius: 100vmax; /*aseguramos que se vea igual en todas las pantallas*/
    cursor: pointer; /* se cambia cursor a una mano cuando se pasa por arriba*/
    text-transform: uppercase; /* se cambia letras a mayúsculas*/
    font-weight: bold; /*letra gruesa*/
    box-shadow: 0 0 1rem rgb(0, 0, 0, .25); /* se agrega sombra*/    
}

.btn:hover{
    background-color: var(--clr-negro);
    color: var(--clr-blanco);    
    transition: 2s; 
    transform: scale(1.1);  /* agranda los elementos */
}

.blanco:hover{
    background-color: var(--clr-amarillo);
    color: var(--clr-negro);
    transition: 1s;
}


.pokemon-todos{
    color: #1c1c1c;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.pokemon{
    margin-top: 2rem;
    border-radius: 1rem;
    padding: .2rem 0 .2rem .4rem;
    background-color: var(--clr-naranja);
    box-shadow: 3px 3px var(--clr-cafe);
    text-transform: uppercase;  
    position: relative; /* se utiliza en contenedor padre para definir position absolute en algún hijo*/
    isolation: isolate; /* define al padre como limite, de lo atras que se puede mover un elemento con z.index*/
    overflow: hidden; /*borra parte del texto que sobre salga del padre*/
}

.pokemon-id-back{   
  position: absolute; /* habilta la edición de posición manual con valores top-bottom-left-right*/
  top: 4.5rem;
  left: 50%; /*intenta posicionar en la mitad del eje y*/
  transform: translateX(-50%);/*ubica el centro del eje y */
  font-size:13rem;
  font-weight: bold;
  color: var(--clr-tono2-amarillo);
  z-index: -1;
  
}
/* imágene de pokemón */
.pokemon-imagen{
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;    
    
}

.pokemon-imagen img{
    width: 100%;
    max-width: 15rem;
}

.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding-inline: .2rem;
    align-items: center;
    text-align: center;
}

.nombre-contenedor{
    display: flex;
    align-items: center;
    column-gap: .3rem;/*para cuando la tarjeta se hace se pequeña, el id y el nombre se pasan a columnas*/
    flex-wrap: wrap;/*las columnas se posicion una sobre otra (id sobre nombre de pokemon)*/
    justify-content: center;    
}

.pokemon-id{
    background-color: var(--clr-crema-oscura);
    color: var(--clr-gris);
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 25%;
    padding: .1rem .1rem;
    gap: .2rem;    
}

.pokemon-nombre{
    font-size: 1.5rem;
    font-weight: bold;
}

.pokemon-tipos{
    display: flex;
    gap: 10px;
    font-size: 1.2rem; 
    font-weight: 500px;
    flex-wrap: wrap; 
    justify-content: center;
}

.tipo{
    padding: .25rem .5rem;
    border-radius: 100vmax;    
}


.pokemon-stats{
    display: flex;    
    gap: 10px;
    font-size: 1.1rem;   
}

.stats{
    background-color: var(--clr-crema-oscura);
    color: var(--clr-gris);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}