/* Se definen variables */
:root{
    --clr-negro:#1c1c1c;
    --clr-gris: #ececec;
    --clr-blanco:#f7f7f7;
    --type-normal: #a8a878;
    --type-fuego: #f08030;
    --type-agua: #6890f0;
    --type-planta: #78c850;
    --type-electrico: #f8d030;
    --type-hielo: #98d8d8;
    --type-lucha: #c03028;
    --type-veneno: #a040a0;
    --type-terrestre: #e0c068;
    --type-volador: #a890f0;
    --type-psiquico: #f85888;
    --type-insecto: #a8b820;
    --type-roca: #b8a038;
    --type-fantasma: #805898;
    --type-oscuro: #705848;
    --type-dragon: #8038f8;
    --type-acero: #b8b8d0;
    --type-hada: #f0b6c6;
}

/* Se formatean elementos html */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-negro);
    font-family:'Rubik', sans-serif;
}

ul{
    list-style-type: none;
}

button{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

/* asignacion de color por tipo de pokemon */
.Normal{
    background-color: var(--type-normal);
    color: var(--clr-negro);
}

.Fuego{
    background-color: var(--type-fuego);
    color: var(--type-negro);
}

.Agua{
    background-color: var(--type-agua);
    color: var(--clr-blanco);

}

.Hierba{
    background-color: var(--type-planta);
    color: var(--clr-negro);
}
.Electrico{
    background-color: var(--type-electrico);
    color: var(--clr-negro);
}
.Hielo{
    background-color: var(--type-hielo);
    color: var(--clr-negro);
}
.Lucha{
    background-color: var(--type-lucha);
    color: var(--clr-blanco);
}
.Veneno{
    background-color: var(--type-veneno);
    color: var(--clr-blanco);
}
.Terrestre{
    background-color: var(--type-terrestre);
    color: var(--clr-blanco);
}
.Volador{
    background-color: var(--type-volador);
    color: var(--clr-negro);
}
.Psiquico{
    background-color: var(--type-psiquico);
    color: var(--clr-negro);
}
.Insecto{
    background-color: var(--type-insecto);
    color: var(--clr-negro);
}
.Roca{
    background-color: var(--type-roca);
    color: var(--clr-negro);
}
.Fantasma{
    background-color: var(--type-fantasma);
    color: var(--clr-blanco);
}
.Obscuro{
    background-color: var(--type-oscuro);
    color: var(--clr-negro);
}
.Dragon{
    background-color: var(--type-dragon);
    color: var(--clr-blanco);
}
.Acero{
    background-color: var(--type-acero);
    color: var(--clr-negro);
}
.Hada{
    background-color: var(--type-hada);
    color: var(--clr-negro);
}

